/* svg {
  display: block;
  margin: auto;
} */

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.legend {
  fill: #000;
  text-anchor: start;
  font-weight: bold;
  font: 14px sans-serif;
}

.tooltip {
  font: 12px sans-serif;
  line-height: 1;
  padding: 6px;
  background: rgba(43,43,43, 0.8);
  color: #fff;
  border-radius: 2px;
}

path.county:hover {
  opacity: 0.6;
}